<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="binaryFileTypes" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    <appSettings>
        <add key="ImportUser" value="Admin" />
        <add key="PasswordKey" value="N/A" />
        <add key="DataEncryptionKey" value="N/A" />
        <add key="ReportingNumber" value="100" />
        <add key="RequireAnonymousGiver" value="true" />
        <add key="RefreshIndividualListEachCycle" value="false" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <add key="CsvBatchUseForeignKey" value="true" />
    </appSettings>
    <binaryFileTypes>
        <add key="Transaction Image" value="Database" />
        <add key="Ministry Document" value="Database" />
        <add key="Person Image" value="C:\profiles" />
    </binaryFileTypes>
    <connectionStrings>
        <add name="RockContext" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=Rock;User ID=admin;Password=admin;MultipleActiveResultSets=True;Timeout=10" />
    </connectionStrings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.ClrProvider" publicKeyToken="89845dcd8080cc91" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.4100.1" newVersion="12.0.4100.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
                <bindingRedirect oldVersion="10.0.0.0-11.0.0.0" newVersion="14.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>