<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheManager.Core" version="1.1.2" targetFramework="net452" />
  <package id="CacheManager.Serialization.Json" version="1.1.2" targetFramework="net452" />
  <package id="CacheManager.StackExchange.Redis" version="1.1.2" targetFramework="net452" />
  <package id="CacheManager.SystemRuntimeCaching" version="1.1.2" targetFramework="net452" />
  <package id="Costura.Fody" version="3.1.4" targetFramework="net452" developmentDependency="true" />
  <package id="DDay.iCal" version="1.0.2.575" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" />
  <package id="Fody" version="3.2.9" targetFramework="net452" developmentDependency="true" />
  <package id="LumenWorksCsvReader" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="150.18208.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="StackExchange.Redis.StrongName" version="1.2.6" targetFramework="net452" />
  <package id="Z.EntityFramework.Plus.EF6" version="1.8.6" targetFramework="net452" />
</packages>